<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- 
 * @copyright Copyright (C) 2014-2015 City of Bloomington, Indiana. All rights reserved.
 * @license http://www.gnu.org/copyleft/gpl.html GNU/GPL, see LICENSE.txt
 * @author W. Sibo <sibow@bloomington.in.gov>
 *

Notes:
=====
save this file to web.xml
replace the url below according to your setting
also make sure to set CAS url 
	-->

<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <!-- General description of your web application -->

    <display-name>ROW Permits</display-name>
    <description>
      This is version 1. of an application to perform
      a wild and wonderful task, based on servlets and
      JSP pages.  It was written by WS
    </description>

    <context-param>
      <param-name>debug</param-name>
      <param-value>true</param-value>
      <description> debug flag
      </description>
    </context-param>
    <context-param>
      <param-name>activeMail</param-name>
      <param-value>false</param-value>
      <description> Mail flag
      </description>
    </context-param>
    <context-param>
      <param-name>url</param-name>
      <param-value>your url to row/row/</param-value>
      <description> general servlet url
      </description>
    </context-param>
    <context-param>
      <param-name>url2</param-name>
      <param-value>your url to row/row/js/images/</param-value>
      <description> the doc url
      </description>
    </context-param>
    <context-param>
      <param-name>cookieName</param-name>
      <param-value>cas_session</param-value>
      <description> cookie used to switch between different apps
      </description>
    </context-param>
    <context-param>
      <param-name>cookieValue</param-name>
      <param-value>.bloomington.in.gov</param-value>
      <description> do not forget the dot in the beginning 
      </description>
    </context-param>
    <context-param>
      <param-name>cas_url</param-name>
      <param-value>your cas url /cas/logout</param-value>
      <description> cas logout url
      </description>
    </context-param>
	 <context-param>
      <param-name>checkAddrUrl</param-name>
      <param-value>address checking url/master_address/</param-value>
      <description> check address url
      </description>
    </context-param>	
	<servlet>
       <servlet-name>log4j-init</servlet-name>
       <servlet-class>permit.Log4jInit</servlet-class>
       <init-param>
		 <param-name>log4j-init-file</param-name>
		 <param-value>/WEB-INF/classes/log4j.lcf</param-value>
       </init-param>
       <load-on-startup>1</load-on-startup>
	 </servlet>	
    <servlet>
      <servlet-name>Login</servlet-name>
      <description>
        The User Menu
      </description>
      <servlet-class>permit.Login</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>PermitPdf</servlet-name>
      <description>
      </description>
      <servlet-class>permit.PermitPdf</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>InvoicePdf</servlet-name>
      <description>
      </description>
      <servlet-class>permit.InvoicePdf</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>ReceiptPdf</servlet-name>
      <description>
      </description>
      <servlet-class>permit.ReceiptPdf</servlet-class>
    </servlet>	
    <servlet>
      <servlet-name>Logout</servlet-name>
      <description>
      </description>
      <servlet-class>permit.Logout</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>CompanyService</servlet-name>
      <description>
      </description>
      <servlet-class>permit.CompanyService</servlet-class>
    </servlet>	
    <servlet>
      <servlet-name>ContactService</servlet-name>
      <description>
      </description>
      <servlet-class>permit.ContactService</servlet-class>
    </servlet>
	<servlet>
      <servlet-name>PermitService</servlet-name>
      <description>
      </description>
      <servlet-class>permit.PermitService</servlet-class>
    </servlet>
	<servlet>
      <servlet-name>PickPoint</servlet-name>
      <description>
      </description>
      <servlet-class>permit.PickPoint</servlet-class>
    </servlet>
	<servlet>
      <servlet-name>ExcavationService</servlet-name>
      <description>
      </description>
      <servlet-class>permit.ExcavationService</servlet-class>
    </servlet>	
	
    <filter>
        <filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>

   <filter-mapping>
      <filter-name>struts2</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>
	
   <servlet-mapping>
     <servlet-name>Logout</servlet-name>
     <url-pattern>/Logout</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
     <servlet-name>Login</servlet-name>
     <url-pattern>/Login</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
     <servlet-name>PermitPdf</servlet-name>
     <url-pattern>/PermitPdf</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
     <servlet-name>InvoicePdf</servlet-name>
     <url-pattern>/InvoicePdf</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
     <servlet-name>ReceiptPdf</servlet-name>
     <url-pattern>/ReceiptPdf</url-pattern>
   </servlet-mapping>   
   <servlet-mapping>
     <servlet-name>CompanyService</servlet-name>
     <url-pattern>/CompanyService</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
     <servlet-name>ContactService</servlet-name>
     <url-pattern>/ContactService</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
     <servlet-name>PermitService</servlet-name>
     <url-pattern>/PermitService</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
     <servlet-name>PickPoint</servlet-name>
     <url-pattern>/PickPoint</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
     <servlet-name>ExcavationService</servlet-name>
     <url-pattern>/ExcavationService</url-pattern>
   </servlet-mapping>   
	<filter>
	  <filter-name>CAS Filter</filter-name>
	  <filter-class>edu.yale.its.tp.cas.client.filter.CASFilter</filter-class>
	  <init-param>
		<param-name>edu.yale.its.tp.cas.client.filter.loginUrl</param-name>
		<param-value>your cas url/cas/login</param-value>
	  </init-param>
	  <init-param>
		<param-name>edu.yale.its.tp.cas.client.filter.validateUrl</param-name>
		<param-value>your cas url/cas/serviceValidate</param-value>
	  </init-param>
	  <init-param>
		<param-name>edu.yale.its.tp.cas.client.filter.serverName</param-name>
		<param-value>your url</param-value>
	  </init-param>
	  <init-param>
		<param-name>edu.yale.its.tp.cas.client.filter.wrapRequest</param-name>
		<param-value>true</param-value>
	  </init-param>
	</filter>
	
	<filter-mapping>
	  <filter-name>CAS Filter</filter-name>
	  <url-pattern>/Login</url-pattern>
	</filter-mapping>

	<welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	 
  <session-config>
    <session-timeout>30</session-timeout>    <!-- 30 minutes -->
  </session-config>


</web-app>
